* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat;
    /* font-weight: 600; */
}

@font-face {
    font-family: Montserrat;
    src: url(/template/fonts/Montserrat/Montserrat-Medium.ttf);
}

img{
    border-radius: 36px;
}

.btn {
    @apply font-bold py-2 px-4 rounded;
}
.btn-blue {
    @apply bg-blue-500 text-white;
}
.btn-blue:hover {
    @apply bg-blue-700;
}

.font__text {
    font-family: Montserrat;
}

.color__text {
    color: #3b4144;
}

#header {
    height: 75px;
}



.header__menu{
    display: none;
}


.icon-heart {
    margin-top: 6px;
}

.btn__dangBai {
    width: 131px;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 24px;
    gap: 10px;
}

.profile-avatar__img {
    width: 36px;
}

/* Start Slider */
#slider {

}
.slider {
    background-image: url('/template/images/blog/slider1.png');
}

/* End Slider */

/* Start Content */

/* End content */



/* Chi tiết nhà */
.arrow-back__text{
    font-size: 14px;
    color: #D93C23;
    line-height: 17px;
    font-weight: 600;
}


/* Chi tiết nhà */


/* Responsive */

@media only screen and (max-width: 1024px ) {
    .header__left{
        display: none;
    }

    .header__menu{
        display: block;
    }
    .btn__dangBai{
        display: none;
    }



}

@media only screen and (max-width: 768px ){
    /* .listVideoMobile{
      display: block;
    } */

    .listVideo{
        display: none;
    }
}

